body{
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	background-color: black;
	overflow: hidden;
	cursor: url(images/dice.cur),auto;
}
h1{
	font-size: 2vw;
	color: white;
}
h2{
	font-size: 1.5vw;
	color: blue;
}
h3{
	font-size: 1.25vw;
}
p{
	font-size: 0.8vw;
}
.bigger-place-spacer{
	width: 100%;
	height: 13%;
}
.button{
	height: calc((2.05/15)*100%);
	width: 100%;
	display: flex;
}
.inner-button{
	height: 100%;
	width: 35%;
}
.center1{
	justify-content: center;
	align-items: center;
}
.column{
	height: 100%;
	width: 50%;
}
.constrain{
	max-height: 100%;
	max-width: 100%;
}
.dice-options{
	height: calc((2/13)*100%);
	width: 90%;
	display: flex;
}
.dice-sizes{
	height: 100%;
	width: 30%;
	
}
.d{
	height: calc((1.5/13)*100%);
	width: 55%;
	display: flex;
}
.full-width{
	width: 100%;
}
.img{
	width: 100%;
	height: 60%;
	display: flex;
}
.inner{
	height: calc(100%/1.4);
	width: 100%;
}
.lower-rectangle{
	height: 8%;
	width: 100%;
	display: flex;
}
.lower-rectangle1{
	height: 8%;
	width: 100%;
	display: flex;
}
.cursor{
	cursor: pointer;
}
.number-display{
	height: calc((2/15)*100%);
	width: 100%;
	display: flex;
}
.number{
	height: 100%;
	width: 35%;
	display: flex;
}
.lower-bar{
	height: 7.5vh;
	width: 15%;
	display: flex;
	margin-left: 15px;
	margin-right: 15px;
}
.place-spacer{
	width: 100%;
	height: 6.5%;
}
.place-spacer1{
	width: 100%;
	height: 20%;
	display: none;
}
.place-aligner{
	width: 32.5%;
	height: 100%;
}
.place-aligner1{
	width: 18.75%;
	height: 100%;
}
.place-aligner2{
	width: 4%;
	height: 100%;
}
.media{
	height: 100%;
	width: 100%;
	display: flex;
}
.placeholder{
	height: 100%;
	width: 70%;
}
.placeholder1{
	height: 100%;
	width: 65%;
	display: none;
}
.title{
	height: 100%;
	width: 62.5%;
	display: flex;
}
.troll-mode{
	height: calc((2.1/13)*100%);
	width: 100%;
	display: flex;
}
.troll{
	height: 100%;
	width: 90%;
}
.troll1{
	height: 7vh;
	width: 5%;
	display: flex;
}
.upper-rectangle{
	height: 92%;
	width: 100%;
}
.upper-rectangle1{
	height: 92%;
	width: 100%;
}
.upper{
	height: 12.5%;
	width: 100%;
	display: flex;
}
.display{
	display: none;
}
.opaque{
	opacity: 0.5;
}
.overflow{
	overflow: hidden;
}
.bigger-place-aligner{
	width: 65%;
	height: 100%;
}
@media only screen and (max-width: 1000px){
	body{
		display: block;
	}
	h3{
		font-size: 1.15vw;
	}
	p{
		font-size: 1.2vw;
	}
	.column{
		height: 50%;
		width: 100%;
	}
	.title{
		height: 80%;
	}
	.full-width{
		height: 100%;
	}
	.dice-options{
		width: 100%;
	}
	.upper-rectangle{
		height: 80%;
	}
	.upper-rectangle1{
		height: 80%;
	}
	.lower-rectangle{
		height: 15%;
	}
	.place-spacer{
		height: 4%;
	}
	.place-spacer1{
		display: block;
	}
	.lower-bar{
		height: 4vh;
		width: 25%;
	}
	.media{
		display: block;
	}
	.placeholder{
		display: none;
	}
	.placeholder1{
		display: flex;
	}
	.troll{
		width: 100%;
	}
}
@media only screen and (max-width: 500px){
	.column{
		display: none;
	}
	body{
		background-image: url("images/jonnycole.png");
	}
}